@{
    ViewData["Title"] = "Home Page";
}

 <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


<body>
    

    <div class="text-center">
    
    <h1 class="display-4">ASSETMARK - Shift Allowance App</h1>

    <hr />
    <footer class="border-top footer">

          <a type="button" class="nav-link btn btn-primary text-light" asp-controller="User" asp-action="SignIn">Log In</a>
            
    </footer>
  
</div>
</body>
