@model StarApp1.Models.PasswordReset

@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             @if (!(ViewBag.flag))
                {
                    <div class="form-group">
               
                <label asp-for="UserName" class="control-label">Enter Your EmailId</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Otp" class="btn btn-primary" />
                </div>
            }
            
            @if (@ViewBag.emailV)
            {
                @if (!(@ViewBag.otpV))
                {
                    <h3>@ViewBag.msg</h3>
                    <div class="form-group">
                        <label asp-for="Otp" class="control-label"></label>
                        <input asp-for="Otp" class="form-control" />
                        <span asp-validation-for="Otp" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Verify Otp" class="btn btn-primary" />
                    </div>
                }
                else
                {

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
                </div>
                }
            }

            else
            {
                <div>@ViewBag.msg</div>
                
            }
            
            
            
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
